<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cn.cczw.sjsb"
      android:versionCode="2"
      android:versionName="1.1">
  	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
    <application android:icon="@drawable/icon" 
        android:label="@string/app_name" 
        android:name="cn.cczw.comm.MyApplication"
        android:theme="@android:style/Theme.NoTitleBar"
        android:allowBackup="true"
 		android:hardwareAccelerated="true">
		<!-- 百度Android定位SDK -->
		<service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" ></action>
            </intent-filter>
        </service>
        <!-- 百度Android定位AccessKey -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_akey" />
        
        <activity android:name="MainActivity" android:launchMode="singleTask"
                  android:label="@string/app_name">
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />  
				<!--<data android:mimeType="image/*" />  //可监听图片打开-->
            </intent-filter>
            
            <intent-filter android:priority="11">
                <action android:name="android.intent.action.VIEW" /><!-- 显示数据 -->  
                <category android:name="android.intent.category.DEFAULT" />  
                <category android:name="android.intent.category.BROWSABLE" /><!-- 定义成浏览器类型，有URL需要处理时会过滤 -->  
                <data android:scheme="@string/app_scheme" android:host="cn.cczw" />
            </intent-filter>
        </activity>
        <!-- 自定义页面 -->
        <activity android:name="InflaterActivity" ></activity>
        <!-- swiperefresh -->
        <activity android:name="SwipeRefreshActivity" ></activity>
        <!-- qrcode -->
        <activity android:name="cn.hugo.android.scanner.CaptureActivity" 
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
		<!-- qq 登录 -->
		<activity android:name="com.tencent.tauth.TAuthView"
			 android:launchMode="singleTask"
			android:configChanges="keyboardHidden|navigation|orientation">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="msc_qq_auth" />
			</intent-filter>
		</activity>
		<!-- 辅助完成Renren授权的Activity -->
		<activity
			android:name="com.renren.api.connect.android.AuthorizationHelper$BlockActivity"
			android:theme="@android:style/Theme.Dialog">
		</activity>

    </application>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许应用读取低级别的系统日志文件 -->
	<uses-permission android:name="android.permission.READ_LOGS" />
	
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.VIBRATE" />
 	
    <!-- 地理信息定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络来获取 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许应用程序访问额外的位置提供命令 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 允许程序创建模拟位置提供用于测试 -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    
    <!-- 相机-->
	<uses-permission android:name = "android.permission.CAMERA" /> 
    <uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-feature android:name = "android.hardware.camera" /> 
	<uses-feature android:name = "android.hardware.camera.autofocus" /> 
</manifest>